

.light {
    --bg-color: #f1f4fa;
    --minesweeper-color: rgba(206, 210, 217, 0.8);
    --primary-color: #ff3e17;
    --secondary-color: #f9d3cb;
    --inverted-primary-color: #ff3e17;
    --inverted-secondary-color: #f9d3cb;
}

.dark {
    --bg-color:#727272;
    --minesweeper-color: #364153;
    --primary-color: #ff3e17;
    --secondary-color: #f9d3cb;
    --inverted-primary-color: #ff3e17;
    --inverted-secondary-color: #f9d3cb;
}