.about {
    padding: 80px 0 100px;
    background: #FFFFFF;

    &__wrapp {
        @include df-center;
        @media (max-width: 800px) {
            flex-direction: column-reverse;
        }
    }

    &__title {
        @include text-h3;
        text-align: left;
    }

    &__img {
        margin-right: 120px;
        @media (max-width: 800px) {
            margin: 80px 0 0 0;
        }
    }

    &__content {
        width: 430px;
    }

    &__text {
        @include paragraph-l;
        margin-top: 25px;
    }
}