.footer {
    padding: 40px 0 0;
    background: $bg-gradient;
    @media (max-width: 1000px) {
        padding: 30px 0 0;
    }

    &__wrapp {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: 900px) {
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    &__contacts {
        margin-top: 16px;
        margin-right: 15px;
        margin-bottom: 60px;
        min-width: 279px;
        max-width: 279px;
        @media (max-width: 800px) {
            margin: 0;
        }
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & a {
            margin-top: 42px;
            @media (max-width: 767px) {
                margin-top: 43px;
            }
        }
    }

    &__locations {
        margin-top: 16px;
        margin-right: 15px;
        margin-bottom: 60px;
        min-width: 302px;
        max-width: 302px;
        @media (max-width: 800px) {
            margin: 0;
        }
        @media (max-width: 767px) {
            margin: 40px 0 0 0;
        }

        & a{
            margin-top: 34px;
            @media (max-width: 767px) {
                margin-top: 40px;
            }
        }

        & a:last-child {
            margin-top: 32px;
            @media (max-width: 767px) {
                margin-top: 40px;
            }
        }

        & .footer__title {
            @media (max-width: 767px) {
                margin-left: 15px;
            }
        }
    }

    &__title {
        @include text-h3;
        color: $color-light-xl;
        text-align: left;

        @media (max-width: 767px) {
            @include text-h3-mobile;
            color: $color-light-xl;
            width: 270px;
        }
    }

    &__link {
        width: fit-content;
        display: flex;
        align-items: center;

        &:hover {
            img {
                opacity: .5;
            }
            p {
                color: rgba($color: $color-primary-light, $alpha: .6);
            }
        }

        & img {
            margin-right: 20px;
            transition: all .15s ease;
        }

        & p {
            @include text-h4;
            color: $color-primary;
            transition: all .15s ease;
        }
    }

    &__img {
        max-width: 300px;
        width: 25%;
        height: fit-content;
        @media (max-width: 900px) {
            margin-top: 65px;
            width: 100%;
        }

        @media (max-width: 767px) {
            margin-top: 40px;
            width: 96%;
        }
    }
}