.header {
    padding: 30px 0;
    background: $color-light-xl;

    &__wrapp {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        &__title {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 35px;
            letter-spacing: 0.06em;
            color: $color-dark-l;
            margin-bottom: 10px;
        }
        &__subtitle {
            margin-left: 4px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.1em;
            color: $color-dark-3xl ;
        }
    }

    &-menu {
        display: flex;

        &__item {
            margin-left: 36px;
        }

        &__link {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: $color-dark-l;
            transition: all .2s ease;

            &.active {
                cursor: default;
                color: $color-dark-3xl;
                padding-bottom: 4px;
                border-bottom: 3px solid $color-primary;
            }

            &:hover {
                color: $color-dark-3xl
            }
        }
    }
}