.head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
        &__title {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 35px;
            letter-spacing: 0.06em;
            color: $color-primary;
            margin-bottom: 10px;
        }

        &__subtitle {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.1em;
            color: $color-light-xl;
        }
    }

    &-menu {
        display: flex;

        &__item {
            margin-left: 35px;
        }

        &__link {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: $color-dark-s;
            &.active {
                color: $color-light-s;
                padding-bottom: 4px;
                border-bottom: 3px solid $color-primary;
            }
        }
    }
}