.paginations {
    display: flex;
    @media (max-width: 800px) {
        margin-top: -3px;
    }
    @media (max-width: 500px) {
        margin-top: 0px;
    }

    &__btn {
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        background: inherit;
        border: 2px solid $color-primary;
        border-radius: 100px;
        transition: all .15s ease;

        @media (max-width: 500px) {
            margin: 0 5px;
        }

        &:hover {
            background: $color-primary-light;
            border: 2px solid $color-primary-light;
        }

        & svg path{
            fill: $color-dark-3xl
        }

        &:disabled {
            cursor: default;
            border: 2px solid $color-dark-s;

            & svg path{
                fill: $color-dark-s
            }

            &:hover {
                background: inherit;
                border: 2px solid $color-dark-s;
            }
        }
    }

    &__page {
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        background: $color-primary;
        border-radius: 100px;
        @include text-h4;
        text-align: center;
        color: $color-dark-3xl;
        outline: none;
        caret-color: transparent;
        cursor: default;
        @media (max-width: 500px) {
            margin: 0 5px;
        }
    }
}