.start-screen {
    padding: 30px 0 0;
    background: $bg-gradient;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &__wrapp {
        margin-top: 90px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__content {
        width: 38.3%;
        margin-top: 163px;
        margin-right: 42px;
    }

    &__title {
        @include text-h2;
        margin-bottom: 42px;
    }

    &__descr {
        @include paragraph-l;
        color: $color-dark-s;
        margin-bottom: 42px;
    }

    &__btn {
        display: inline-block;
        @include btn;
    }

    &__img {
        width: 58.16%;
    }
}