.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    & button {
        padding: 8px;
        border-radius: 8px;
        background: var(--controls-color);
        transition: transform .1s ease;

        &:active {
            transform: scale(0.9);
        }
    }

    &-menu,
    &-question {
        & img {
            width: 30px;
        }
    }
}