.main {
  width: 70%;
  // height: 300px;
  // background: url("../../../assets/iphone.png") center/contain no-repeat;
  // border-radius: 8px;
}

.table {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
  }

  &__phone {
    width: 100%;
    height: 200px;
    background: url("../../../assets/iphone-new.png") center/contain no-repeat;
  }
}

.editor {
  display: flex;
  width: 90%;
  margin: 0 auto;
  border: solid 10px rgba(0, 0, 0, 0.35);
  border-radius: 4px;

  &__item {
    width: 50%;
  }
}
