.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &__btn {
    margin: 0 15px;
    background: #ee2d24;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }

    &:hover {
      transform: scale(1.07);
      &:disabled {
        transform: scale(1);
      }
    }
  }
}
