.tooltip {
  display: none;
  position: absolute;
  background: #3a36db;
  padding: 8px 12px;
  border-radius: 8px;
  z-index: 1000;
  font-size: 14px;
  color: #fff;
  outline: solid 1px transparent;
  word-wrap: nowrap;
  white-space: nowrap;
}
